/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html {
  background-color: rgb(99, 158, 114);
  
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  text-align: justify;
  line-height: 2rem;
  padding: 15px;
}

h2 {
  color : rgb(1, 2, 1);
  position : relative;
  text-align : center;
}

h4 {
  text-align: center;
  position : relative;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



.formulaire {
  background-color: white;
  padding:50px;
  margin: 30px;
  
}

video {
  padding: 12px;
  margin: 12px;
  text-align: center;
}



.carousel .carousel-item {
  display: none;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}
nav {
  background-color : rgb(207, 133, 149);
}

label {
  text-align : center;
  left : 5%;
}

champ {
  text-align: center;
  position : relative;
  color : blueviolet ;
  align-content: center;
}
